<% provide(:title, 'Log In') %>

<div class='container'>
  <h1 class='text-center'>Log In</h1>
  <div class='row'>
    <div class='col-4 offset-4'>
      <%= form_for(:session, url: login_path) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit 'Log In', class: 'btn btn-primary' %>
      <% end %>

      <p>No account? <%= link_to 'Sign up here!', signup_path %></p>
    </div>
  </div>
</div>
